{% extends 'base.html.twig' %}

{% block body %}
    {% include 'navbar.twig' %}
    <div class="section">
    <div class="container">
        <div class="hero-cap text-center">
                              <h2>Cart List</h2>
                          </div>
        <div class="row">
            <div class="col-12 text-right"> 
            <div class="supprimer mb-3">
                <a href="{{ path('cartDelete') }}" class="btn btn-outline-secondary rounded-pill btn-sm" style="padding: 16px 15px; font-size: 16px;">Vider votre panier !</a>
            </div>
        </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="table-responsive shop_cart_table">
                    <table class="table">
                            <thead>
                                <tr>
                                    <th class="produit-thumbnail">&nbsp;</th>
                                    <th class="produit-name">Produit</th>
                                    <th class="produit-price">Prix</th>
                                    <th class="produit-quantity">Quantité</th>
                                    <th class="produit-subtotal">Total</th>
                                    <th class="produit-remove">Supprimer</th>
                                </tr>
                            </thead> 
                            <tbody>
                              {% if app.session.get('cart') %}
                                {% for element in cart.produits %}
                                    <tr>
                                    
                                        <td class="produit-thumbnail">
                                            {% if element.produit.image %}
                                                <img src="{{ asset('imgproduit/' ~ element.produit.image) }}" alt="{{ element.produit.nom }}" class="img-circle" style="max-width: 50px; max-height: 80px; border-radius: 50%;">
                                            {% endif %}
                                        </td>
                                        <td class="produit-name" data-title="produit">{{element.produit.nom}}</td>
                                        <td class="produit-price" data-title="Price">{{element.produit.prix}}</td>
                                        <td class="produit-quantity" data-title="Quantity"><div class="quantity">
                                        <a href="{{ path('cartDeletep', {'id': element.produit.id}) }}" class="minus" style="font-size: 10px;"><i class="fas fa-minus" style="color: black;"></i></a>
                                        <input type="text" name="quantity" value="{{element.quantity}}" title="Qty" class="qty" size="4">
                                        <a href="{{ path('cartAdd', {'id': element.produit.id}) }}" class="plus" style="font-size: 10px;">
                                            <i class="fas fa-plus" style="color: black;"></i>
                                        </a>
                                        </div></td>
                                        <td class="produit-subtotal" data-title="Total">{{ element.quantity * element.produit.prix }} DT</td>
                                        <td class="produit-remove" data-title="Remove">
                                        <a href="{{ path('cartDeleteAll', {'id': element.produit.id}) }}" style="margin-right: 10px;">
                                            <span class="text-danger" style="font-size: 24px;">
                                                &times;
                                            </span>
                                        </a>
                                    </td>
                                    </tr>
                                {% endfor %}
                               {% else %}
                                    <p>Votre panier est vide !<a href="{{ path('app_produit')}}"> Poursuivre vos achats</a> </p>
                                {% endif %}
                            </tbody>
                        </table>
                          <p>
                             <a class="btn btn-outline-secondary rounded-pill btn-sm " href="{{ path('app_produit')}}" style="padding: 15px 15px; font-size: 14px;">Poursuivre vos achats <i class="ti-shopping-cart-full"></i></a>  
                        </p>
                      </div>
                  </div>                    
              <div class="row">
                  <div class="col-md-6">
                  </div>
                  <div class="col-md-6">
                    <div class="border p-3 p-md-4">
                        <div class="heading_s1 mb-3">
                            <h6>Panier Totaux</h6>
                        </div>
                        <div class="table-responsive">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td class="cart_total_label">Panier Sous total HT</td>
                                        <td class="cart_total_amount"> {{ cart.data.subTotalHT}} DT</td>
                                    </tr>
                                    <tr>
                                        <td class="cart_total_label">Taxe (20%) </td>
                                        <td class="cart_total_amount"> {{ cart.data.taxe }} DT</td>
                                    </tr>
                                    <tr>
                                        <td class="cart_total_label">Total TTC</td>
                                        <td class="cart_total_amount"><strong> {{ cart.data.subTotalTTC  }} DT</strong></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <a href="{{ path('app_addcommande')}}" class="btn btn-fill-out">Valider votre commande</a>
                    </div>
                  </div>
              </div>
         </div>
      </div>
<!-- Shop Method End-->
    </main>
             {% include 'footer.twig' %}
{% endblock %}