{% extends 'base.html.twig' %}
{% block body %}
{% block stylesheets %}
            <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
			<link rel="manifest" href="site.webmanifest">
			<link rel="shortcut icon" type="image/x-icon" href="{{ asset('img/favicon.ico') }}">
			<!-- CSS here -->
			<link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
			<link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
			<link rel="stylesheet" href="{{ asset('css/owl.carousel.min.css') }}">
			<link rel="stylesheet" href="{{ asset('css/flaticon.css') }}">
			<link rel="stylesheet" href="{{ asset('css/slicknav.css') }}">
			<link rel="stylesheet" href="{{ asset('css/animate.min.css') }}">
			<link rel="stylesheet" href="{{ asset('css/magnific-popup.css') }}">
			<link rel="stylesheet" href="{{ asset('css/fontawesome-all.min.css') }}">
			<link rel="stylesheet" href="{{ asset('css/themify-icons.css') }}">
			<link rel="stylesheet" href="{{ asset('css/slick.css') }}">
			<link rel="stylesheet" href="{{ asset('css/select.css') }}">
			<link rel="stylesheet" href="{{ asset('css/style.css') }}">
		{% endblock %}
            {% include 'navbar.twig' %}
    <main>
        <!-- ================ contact section start ================= -->
        <section class="contact-section">
            <div class="container">
                <div class="row d-flex justify-content-center">
                    <div class="col-12">
                        <h2 class="contact-title text-center">List Livraison</h2>
                    </div>
                    <div class="card col-md-12">
                        
                                        <!-- Code Start Here -->
                                                <table class="table">
                                                <thead>
                                                    <tr>
                                                    <th scope="col">Num Livraison</th>
                                                    <th scope="col">Adresse</th>
                                                    <th scope="col">Date Livraison</th>
                                                    <th scope="col">Etat Livraison</th>
                                                    <th scope="col"  style="text-align: center;">Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                {% for Livraison in Livraisons %}
                                                    <tr>
                                                    <td>{{Livraison.numliv}}</td>
                                                    <td>{{Livraison.zoneliv}}</td>
                                                    <td>{{Livraison.dateliv|date('d/m/Y H:i')}}</td>
                                                    <td>{{Livraison.etatliv}}</td>
                                                    {% if Livraison.etatliv != 'Livrée'   %}<td class="d-flex justify-content-center"><a href="{{ path('app_livraison_suivi', {'id': Livraison.id }) }}" class="genric-btn danger-border radius small">Suivi Livraison</a></td>
                                                    {% else %}<td class="d-flex justify-content-center"><a href="{{ path('app_livreur_commentaire', {'id': Livraison.id }) }}" class="genric-btn danger-border radius small" id="toggleFormButton">Ajouter un Commentaire</a></td>
                                                    {% endif %}
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                                </table>
                                         <!-- Code End Here -->
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- ================ contact section end ================= -->
    </main>
    <footer>
        <!-- Footer Start-->
        <div class="footer-area footer-padding">
            <div class="container">
                <div class="row d-flex justify-content-between">
                    <div class="col-xl-3 col-lg-3 col-md-5 col-sm-6">
                        <div class="single-footer-caption mb-50">
                            <div class="single-footer-caption mb-30">
                                <!-- logo -->
                                <div class="footer-logo">
                                    <a href="index.html"><img src="{{ asset('/img/logo/logo2_footer.png') }}" alt=""></a>
                                </div>
                                <div class="footer-tittle">
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-3 col-md-3 col-sm-5">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>Quick Links</h4>
                                <ul>
                                    <li><a href="#">About</a></li>
                                    <li><a href="#"> Offers & Discounts</a></li>
                                    <li><a href="#"> Get Coupon</a></li>
                                    <li><a href="#">  Contact Us</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-7">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>New Products</h4>
                                <ul>
                                    <li><a href="#">Woman Cloth</a></li>
                                    <li><a href="#">Fashion Accessories</a></li>
                                    <li><a href="#"> Man Accessories</a></li>
                                    <li><a href="#"> Rubber made Toys</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-5 col-sm-7">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>Support</h4>
                                <ul>
                                    <li><a href="#">Frequently Asked Questions</a></li>
                                    <li><a href="#">Terms & Conditions</a></li>
                                    <li><a href="#">Privacy Policy</a></li>
                                    <li><a href="#">Report a Payment Issue</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Footer bottom -->
                <div class="row align-items-center">
                    <div class="col-xl-7 col-lg-8 col-md-7">
                        <div class="footer-copy-right">
                            <p>Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This Website is made </i> by <a href="" target="_blank">CodeCrafters</a></p>                  
                        </div>
                    </div>
                    <div class="col-xl-5 col-lg-4 col-md-5">
                        <div class="footer-copy-right f-right">
                            <!-- social -->
                            <div class="footer-social">
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="https://www.facebook.com/sai4ull"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fab fa-behance"></i></a>
                                <a href="#"><i class="fas fa-globe"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer End-->
    </footer>
    <!--? Search model Begin -->
    <div class="search-model-box">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-btn">+</div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Searching key.....">
            </form>
        </div>
    </div>
    <!-- Search model end -->
{% endblock %}
