{% extends 'baseback.html.twig' %}

{% block body %}
         {% include 'sidebar.twig' %}
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Gestion Livreur</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Ajouter Livreur</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">

      <!-- Default box -->
      <div class="card">
        <div class="card-header">

          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
              <i class="fas fa-minus"></i>
            </button>
            <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
              <i class="fas fa-times"></i>
            </button>
          </div>
        </div>
        <div class="card-body">
          <!-- general form elements -->
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">Ajouter Livreur</h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
                    {{ form_start(formAdd,{'attr': {novalidate: 'novalidate'}} ) }}
                <div class="card-body">
                                    <div class="form-group">
                                    <label for="">ID Livreur</label>
                                    {{ form_widget(formAdd.idlivreur, {'attr': {'placeholder': 'ID Livreur', 'class': 'form-control'}}) }}
                                    {{form_errors(formAdd.idlivreur)}}
                                   </div>
                                    <div class="form-group">
                                    <label for="">Nom</label>
                                    {{ form_widget(formAdd.nom, {'attr': {'placeholder': 'Votre Nom', 'class': 'form-control'}} ) }}
                                    {{form_errors(formAdd.nom)}}
                                   </div>
                                   <div class="form-group">
                                    <label for="">Prenom</label>
                                    {{ form_widget(formAdd.prenom, {'attr': {'placeholder': 'Votre Prenom', 'class': 'form-control'}}) }}
                                    {{form_errors(formAdd.prenom)}}
                                   </div>
                                    <div class="form-group">
                                    <label for="">E-mail</label>
                                    {{ form_widget(formAdd.email, {'attr': {'placeholder': 'Votre E-mail', 'class': 'form-control'}}) }}
                                    {{form_errors(formAdd.email)}}
                                   </div>
                                    <div class="form-group">
                                    <label for="">Num Tel</label>
                                    {{ form_widget(formAdd.numtel, {'attr': {'placeholder': 'Votre Num Tel', 'class': 'form-control'}}) }}
                                    {{form_errors(formAdd.numtel)}}
                                   </div>
                                    <div class="form-group">
                                    <label for="">Vehicule</label>
                                    {{ form_widget(formAdd.vehicule, {'attr': {'placeholder': 'Votre Vehicule', 'class': 'form-control'} }) }}
                                   </div>
                                   <div class="form-group">
                                    <label for="">Disponibilite</label>
                                    {{ form_widget(formAdd.disponibilite, {'attr': {'placeholder': 'Votre Disponibilite', 'class': 'form-control'} }) }}
                                   </div>
                                   <div class="form-group">
                                    <label for="">Zone Livraison</label>
                                    {{ form_widget(formAdd.zonelivraison, {'attr': {'placeholder': 'Votre Zone Livraison', 'class': 'form-control'} }) }}
                                   </div>
                                   <div class="form-group">
                                    <label for="">Image</label>
                                    {{ form_widget(formAdd.image, {'attr': {'placeholder': 'Votre Image', 'class': 'form-control-file'} }) }}  
                                    {{form_errors(formAdd.image)}}
                                   </div>
                                   <div class="col-md-12 form-group p_star d-flex justify-content-end">
                                    {{ form_widget(formAdd.submit, {'attr': {'class': 'btn btn-primary'} }) }}
                                   </div> 
                                </div>
                                    
                                    {{ form_end(formAdd) }}
          </div>
        </div>
      </div>
      <!-- /.card -->

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <footer class="main-footer">
    <div class="float-right d-none d-sm-block">
      <b>Version</b> 3.1.0
    </div>
    <strong>Copyright &copy; 2023-2024 <a href="">Admin WeTek</a>.</strong> All rights reserved.
  </footer>

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->
{% endblock %}

				
