{% extends 'baseback.html.twig' %}

{% block body %}
<div class="wrapper">

 {% include 'sidebar.twig' %}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Gestion Livreur</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Ajouter Livreur</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">

      <!-- Default box -->
      <div class="card">
        <div class="card-header">

          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
              <i class="fas fa-minus"></i>
            </button>
            <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
              <i class="fas fa-times"></i>
            </button>
          </div>
        </div>
        <div class="card-body">
          <!-- general form elements -->
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">Envoyer Mail</h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
                    {{ form_start(form) }}
                <div class="card-body">
                <div class="row">
                                    <div class="form-group col-md-6">
                                    {{ form_widget(form.from, {'attr': {'placeholder': 'From', 'class': 'form-control'}}) }}
                                   </div>
                                    <div class="form-group col-md-6">
                                    {{ form_widget(form.to, {'attr': {'placeholder': 'To', 'class': 'form-control' ,'value': email}} ) }}
                                   </div>
                </div>
                                   <div class="form-group">
                                    {{ form_widget(form.subject, {'attr': {'placeholder': 'Subject', 'class': 'form-control'}}) }}
                                   </div>
                                    <div class="form-group">
                                    {{ form_widget(form.mail, {'attr': {'placeholder': 'Message', 'class': 'form-control'}}) }}
                                   </div>
                                   <div class="col-md-12 form-group p_star d-flex justify-content-end">
                                    {{ form_widget(form.Envoyer, {'attr': {'class': 'btn btn-primary'} }) }}
                                   </div> 
                                </div>
                                    
                                    {{ form_end(form) }}
          </div>
        </div>
      </div>
      <!-- /.card -->

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <footer class="main-footer">
    <div class="float-right d-none d-sm-block">
      <b>Version</b> 3.1.0
    </div>
    <strong>Copyright &copy; 2023-2024 <a href="">Admin WeTek</a>.</strong> All rights reserved.
  </footer>

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->
{% endblock %}

				
