{% extends 'baseAdmin.html.twig' %}

{% block body %}
     {% include 'sidebar.twig' %}
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>List Utilisateur</h1>
          </div>
          <div class="col-sm-6">
           
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">

      <!-- Default box -->
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Utilisateur Du Site WeTek</h3>

          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
              <i class="fas fa-minus"></i>
            </button>
            <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
              <i class="fas fa-times"></i>
            </button>
          </div>
        </div>
        <div class="card-body">
          <!-- Default box -->
<div class="card card-solid">
    <p class="d-flex justify-content-center mt-2"><b>Utilisateur Confirmée</b></p>
    <div class="card-body pb-0">
        <div class="row">
            {% for user in users %}
            <div class="col-12 col-sm-6 col-md-4">
                <div class="card bg-light">
                    <div class="card-header text-muted border-bottom-0">
                        Utilisateur
                    </div>
                    <div class="card-body pt-0">
                        <div class="row">
                            <div class="col-6">
                                <p class="text-muted text-sm"><b>Nom&Prenom:</b> {{ user.nom }} {{ user.prenom }}</p>
                                <p class="text-muted text-sm"><b>Num Tel:</b> {{ user.num }}</p>
                                <p class="text-muted text-sm"><b>Adresse:</b> {{ user.adresse }}</p>
                                <p class="text-muted text-sm"><b>E-mail:</b>  {{ user.mail }}</p>
                            </div>
                            <div class="col-6 text-center">
                                {% if user.image %}
                                    <img src="{{ asset('imguser/' ~ user.image) }}" alt="user-avatar" class="img-circle img-fluid mx-auto" style="width: 140px;">
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="d-flex justify-content-end  ">
                            <a href="{{ path('app_user_ban', {'id': user.id }) }}" class="btn btn-sm btn-danger mr-2">
                                <i class="fas fa-minus"></i> Bannir
                            </a>
                            <a href="#" class="btn btn-sm bg-teal mr-2">
                                <i class="fas fa-comments"></i> Envoyer Mail
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            {% else %} <p class="col-12 text-center mb-5" style="color:red;"><b>Pas d'utilisateur confirmée Pour le Moment</b></p>
            {% endfor %}
            
          </div>
        </div>
        
        <!-- /.card-body -->
        
        <!-- /.card-footer -->
      </div>
      <!-- /.card -->

        </div>  
        <!-- /.card-body -->
        <!-- /.card-footer-->
      </div>
      <!-- /.card -->

    </section>
    <!-- Main content -->
    <section class="content">

      <!-- Default box -->
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Utilisateur Bani De WeTek </h3>

          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
              <i class="fas fa-minus"></i>
            </button>
            <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
              <i class="fas fa-times"></i>
            </button>
          </div>
        </div>
                <div class="card-body">
          <!-- Default box -->
<div class="card">
    <p class="d-flex justify-content-center mt-2"><b>Utilisateur Bani</b></p>
    <div class="card-body pb-0">
        <div class="row">
            {% for userBani in usersBani %}
            <div class="col-12 col-sm-6 col-md-4">
                <div class="card bg-light">
                    <div class="card-header text-muted border-bottom-0">
                        Utilisateur
                    </div>
                    <div class="card-body pt-0">
                        <div class="row">
                            <div class="col-6">
                                <p class="text-muted text-sm"><b>Nom&Prenom:</b> {{ userBani.nom }} {{ userBani.prenom }}</p>
                                <p class="text-muted text-sm"><b>Num Tel:</b> {{ userBani.num }}</p>
                                <p class="text-muted text-sm"><b>Adresse:</b> {{ userBani.adresse }}</p>
                                <p class="text-muted text-sm"><b>E-mail:</b>  {{ userBani.mail }}</p>
                            </div>
                            <div class="col-6 text-center">
                                {% if userBani.image %}
                                    <img src="{{ asset('imguser/' ~ userBani.image) }}" alt="user-avatar" class="img-circle img-fluid mx-auto" style="width: 140px;">
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="d-flex justify-content-end">
                            <a href="{{ path('app_user_unban', {'id': userBani.id }) }}" class="btn btn-sm bg-teal mr-2">
                                <i class="fas fa-minus"></i>  UnBan
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            {% else %} <p class="col-12 text-center mb-5" style="color:red;"><b>Pas d'utilisateur bani Pour le Moment</b></p>
            {% endfor %}
            
          </div>
        </div>
        
        <!-- /.card-body -->
        <!-- /.card-footer-->
      </div>
      <!-- /.card -->

    </section>
    <section class="content">

      <!-- Default box -->
      <div class="card collapsed-card">
        <div class="card-header">
          <h3 class="card-title">List compte Supprimée</h3>

          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
              <i class="fas fa-minus"></i>
            </button>
            <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
              <i class="fas fa-times"></i>
            </button>
          </div>
        </div>
                <div class="card-body">
          <!-- Default box -->
<div class="card card-solid">
    <p class="d-flex justify-content-center mt-2"><b>Utilisateur Désactivée</b></p>
    <div class="card-body pb-0">
        <div class="row">
            {% for deaduser in deadusers %}
            <div class="col-12 col-sm-6 col-md-4">
                <div class="card bg-light">
                    <div class="card-header text-muted border-bottom-0">
                        Utilisateur
                    </div>
                    <div class="card-body pt-0">
                        <div class="row">
                            <div class="col-6">
                                <p class="text-muted text-sm"><b>Nom&Prenom:</b> {{ deaduser.nom }} {{ deaduser.prenom }}</p>
                                <p class="text-muted text-sm"><b>Num Tel:</b> {{ deaduser.num }}</p>
                                <p class="text-muted text-sm"><b>Adresse:</b> {{ deaduser.adresse }}</p>
                                <p class="text-muted text-sm"><b>E-mail:</b>  {{ deaduser.mail }}</p>
                            </div>
                            <div class="col-6 text-center">
                                {% if deaduser.image %}
                                    <img src="{{ asset('imguser/' ~ deaduser.image) }}" alt="user-avatar" class="img-circle img-fluid mx-auto" style="width: 140px;">
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% else %} <p class="col-12 text-center mb-5" style="color:red;"><b>Pas d'utilisateur désactivée Pour le Moment</b></p>
            {% endfor %}
            
          </div>
        </div>
        <!-- /.card-body -->
        <!-- /.card-footer-->
      </div>
      <!-- /.card -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <footer class="main-footer">
    <strong>Copyright &copy; 2023-2024 <a href="">Admin WeTek</a>.</strong> All rights reserved.
  </footer>

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

{% endblock %}
