{% extends 'base.html.twig' %}
{% block body %}
 <!--? Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src="{{ asset('/img/logo/logo.png') }}" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- Preloader Start -->
    <header>
        <!-- Header Start -->
        <div class="header-area">
            <div class="main-header header-sticky">
                <div class="container-fluid">
                    <div class="menu-wrapper">
                        <!-- Logo -->
                        <div class="logo">
                            <a href="home.html"><img src="{{ asset('/img/logo/logo.png') }}" alt=""></a>
                        </div>
                        <!-- Main-menu -->
                        <div class="main-menu d-none d-lg-block">
                            <nav>                                                
                                <ul id="navigation">  
                                    <li><a href="{{path('app_home')}}">Acceuil</a></li>
                                    <li><a href="{{path('app_produit')}}">Magasin</a>
                                        <ul class="submenu">
                                            <li><a href="{{path('favoris')}}">Liste de mes produits favoris</a></li>   
                                        </ul> 
                                    </li>
                                    <li><a href="about.html">A propos</a></li>
                                    <li class="hot"><a href="#">Nouveauté</a>
                                        <ul class="submenu">
                                            <li><a href="evenement.html">Nos Evenement</a></li>
                                            <li><a href="{{path('app_addproduit')}}">Nouveau Produit</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#">Forum</a>
                                        <ul class="submenu">
                                            <li><a href="blog.html">Forum</a></li>
                                            <li><a href="reclamation.html">Reclamation</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="contact.html">Nous Contacter</a></li>
                                </ul>
                            </nav>
                        </div>
                        <!-- Header Right -->
                        <div class="header-right">
                            <ul>
                                <li>
                                    <div class="nav-search search-switch">
                                        <span class="flaticon-search"></span>
                                    </div>
                                </li>
                                <li> <a href="login.html"><span class="flaticon-user"></span></a></li>
                                <li><a href="{{path('app_panier')}}"><span class="flaticon-shopping-cart">
                                    {% if app.session.get('cart') %}
                                    {{ app.session.get('cartData').data.quantityCart }}
                                    {% else %}
                                        0   
                                    {%endif %}
                                </span></a> </li>
                            </ul>
                        </div>
                    </div>
                    <!-- Mobile Menu -->
                    <div class="col-12">
                        <div class="mobile_menu d-block d-lg-none"></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Header End -->
    </header>
    <main>
        <!-- Latest Products Start -->
        <section class="popular-items">
            <div class="container">

                <h6>Acceuil > Magasin > All</h6>
                    
                <div class="d-flex justify-content-end" style="padding-bottom: 20px;">
                    <a href="{{ path('app_addproduit') }}" class="genric-btn circle mr-2" style="background-color: red; color: white;">Vendre un produit</a>
                    <a href="{{ path('app_afficherproduit') }}" class="genric-btn circle" style="background-color: red; color: white;">Liste de mes produits</a>
                </div>
                <form action="{{ path('app_produit') }}" method="GET" style="margin-bottom: 20px;">
                <input type="text" name="marque" placeholder="Rechercher par marque..." style="padding: 10px; border: 1px solid #ccc; border-radius: 5px; margin-right: 10px; width: 200px; font-size: 13px;">
                <button type="submit" style="padding: 10px 20px; background-color: f2f2f2; color: black; border: none; border-radius: 5px; cursor: pointer; font-size: 13px;">Rechercher</button>
            </form>
            <form action="{{ path('app_produit') }}" method="GET">
        <div class="row">
        <h3 class="mb-30">Filtrer Par :</h3>
        <div class="d-flex">
            <div class="single-element-widget mt-10" style="margin-left: 20px;">
            
                <select name="type">
                    <option value="">Types</option>
                    <option value="pull">Pull</option>
                    <option value="veste">Veste</option>
                    <option value="pantalon">Pantalon</option>
                    <option value="chaussure">Chaussure</option>
                </select>
            </div>
            <div class="single-element-widget mt-10" style="margin-left: 20px;">
                <select name="taille">
                    <option value="">Tailles</option>
                    <option value="XS">XS</option>
                    <option value="S">S</option>
                    <option value="M">M</option>
                    <option value="L">L</option>
                    <option value="XL">XL</option>
                    <option value="XXL">XXL</option>
                </select>
            </div>
            <div class="single-element-widget mt-10" style="margin-left: 20px;">
                <select name="etat" >
                    <option value="">Etats</option>
                    <option value="Neuf">Neuf</option>
                    <option value="Comme Neuf">Comme Neuf</option>
                    <option value="Utilisé">Utilisé</option>
                </select>
            </div>
            <div class="single-element-widget mt-10" style="margin-left: 20px;">
                <button type="submit"  style="padding: 8px 30px; background-color: #f2f2f2; color: black; border: none; border-radius: 20px; cursor: pointer; font-size: 12px;">Filtrer</button>
            </div>
                </div>
            </div>
            </form>
                <!-- Nav Card -->
                <div class="tab-content mt-30" id="nav-tabContent">
                    <!-- card one -->
                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                        <div class="row">
                        {% for produit in produits %}
                            <div class="col-md-4">
                                <div class="single-popular-items mb-50 text-center">
                                    <div class="popular-img">
                                        <div class="favorit-items">
                                            <a href="{{ path('add_to_favorites', {'id': produit.id}) }}">
                                                <span class="flaticon-heart" style="{% if produit.id in favoris %}color: red;{% endif %}"></span>
                                            </a>
                                        </div> <!-- 362*373 -->
                                {% if produit.image %}
                                    <img src="{{ asset('imgproduit/' ~ produit.image) }}" alt="user-avatar" class="img-circle img-fluid mx-auto" style="width: 215px; height: 250px;">
                                {% endif %}
                                        <div class="img-cap">
                                            <span><a href="{{ path('cartAdd', {'id':produit.id})}}">Ajouter au panier</a> | <a href="{{ path('app_details_produit', {'id': produit.id}) }}">Détails</a></span>
                                        </div>
                                    </div>
                                    <div class="popular-caption">
                                        <h3><a href="product_details.html">{{produit.nom}}</a></h3>
                                        <span>{{produit.prix}} DT</span>                           
                                    </div>
                                    
                                </div>
                            </div>
                        {% endfor %}
                        </div>
                    </div>
                </div>
                <!-- End Nav Card -->
            </div>
        </section>
        <!-- Latest Products End -->
  <!--? Shop Method Start-->
  <div class="shop-method-area">
    <div class="container">
        <div class="method-wrapper">
            <div class="row d-flex justify-content-between">
                <div class="col-xl-4 col-lg-4 col-md-6">
                    <div class="single-method mb-40">
                        <i class="ti-package"></i>
                        <h6>Livraison gratuite</h6>
                        <p>La livraison est offerte à partir de 200 DT d'achat.</p>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6">
                    <div class="single-method mb-40">
                        <i class="ti-unlock"></i>
                        <h6>Sécurité de paiement</h6>
                        <p>Vos paiements sont protégés grâce à des systèmes de paiement universels.</p>
                    </div>
                </div> 
                <div class="col-xl-4 col-lg-4 col-md-6">
                    <div class="single-method mb-40">
                        <i class="ti-reload"></i>
                        <h6>Echange</h6>
                        <p>Vous avez la possibilité de modifier vos achats dans un délai de 30 jours.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Shop Method End-->
    </main>
    <footer>
        <!-- Footer Start-->
        <div class="footer-area footer-padding">
            <div class="container">
                <div class="row d-flex justify-content-between">
                    <div class="col-xl-3 col-lg-3 col-md-5 col-sm-6">
                        <div class="single-footer-caption mb-50">
                            <div class="single-footer-caption mb-30">
                                <!-- logo -->
                                <div class="footer-logo">
                                    <a href="index.html"><img src="{{ asset('/img/logo/logo2_footer.png') }}" alt=""></a>
                                </div>
                                <div class="footer-tittle">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-3 col-md-3 col-sm-5">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>Quick Links</h4>
                                <ul>
                                    <li><a href="#">About</a></li>
                                    <li><a href="#"> Offers & Discounts</a></li>
                                    <li><a href="#"> Get Coupon</a></li>
                                    <li><a href="#">  Contact Us</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-7">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>New Products</h4>
                                <ul>
                                    <li><a href="#">Woman Cloth</a></li>
                                    <li><a href="#">Fashion Accessories</a></li>
                                    <li><a href="#"> Man Accessories</a></li>
                                    <li><a href="#"> Rubber made Toys</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-5 col-sm-7">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>Support</h4>
                                <ul>
                                    <li><a href="#">Frequently Asked Questions</a></li>
                                    <li><a href="#">Terms & Conditions</a></li>
                                    <li><a href="#">Privacy Policy</a></li>
                                    <li><a href="#">Report a Payment Issue</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Footer bottom -->
                <div class="row align-items-center">
                    <div class="col-xl-7 col-lg-8 col-md-7">
                        <div class="footer-copy-right">
                            <p>Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This Website is made </i> by <a href="" target="_blank">CodeCrafters</a></p>                 
                        </div>
                    </div>
                    <div class="col-xl-5 col-lg-4 col-md-5">
                        <div class="footer-copy-right f-right">
                            <!-- social -->
                            <div class="footer-social">
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="https://www.facebook.com/sai4ull"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fab fa-behance"></i></a>
                                <a href="#"><i class="fas fa-globe"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer End-->
    </footer>
    <!--? Search model Begin -->
    <div class="search-model-box">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-btn">+</div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Searching key.....">
            </form>
        </div>
    </div>
    <!-- Search model end -->
{% endblock %}