{% block body %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ asset('IaStyle.css') }}">
    <script src="{{ asset('script.js') }}" defer></script>

    <section class="image-generator">
        <div class="content">
                <h1>IA Image Generator</h1>
            <form action="#" class="generate-form">
                <input type="text" class="prompt-input" placeholder="Describe what you want to add" required>
                <div class="controls">
                    <select class="img-quantity">
                        <option value="1">1 Image</option>
                        <option value="2">2 Images</option>
                        <option value="3" selected>3 Images</option>
                    </select>
                    <button type="submit" class="generate-btn">Generate</button>
                </div>
            </form>
        </div>
    </section>
    <section class="image-gallery">
        <div class="img-card">
            <img src="{{ asset('img/prof1.jpg') }}" alt="image">
            <a href="#" class="download-btn">
                <img src="{{ asset('img/download-icon.png') }}" alt="download icon"> 
            </a>
        </div>
        <div class="img-card">
            <img src="{{ asset('img/prof2.jpg') }}" alt="image">
            <a href="#" class="download-btn">
                <img src="{{ asset('img/download-icon.png') }}" alt="download icon">
            </a>
        </div>
        <div class="img-card">
            <img src="{{ asset('img/prof3.jpg') }}" alt="image">
            <a href="#" class="download-btn">
                <img src="{{ asset('img/download-icon.png') }}" alt="download icon">
            </a>
        </div>
    </section>
{% endblock %}
